@media screen and (max-width: 768px) {
    .card-one, .card-two, .card-three {
        flex-direction: column;
        align-items: flex-start;
        min-height: auto;
    }

    .card-one .text-container, .card-two .text-container, .card-three .text-container {
        order: 2;
    }

    .card-one .flex.justify-center, .card-two .flex.justify-center, .card-three .flex.justify-center {
        order: 1;
    }
 
    .text-container p {
        font-size: larger; 
    }
 
}


.nav-bar-custom-color {
    background-color: #564848
}

.homepage-custom-color {
    background-color: #2c2836
}