@media screen and (max-width: 1023px) {
    .card-one{
        flex-direction: column;
        align-items: flex-start;
        min-height: auto;
    }

    .card-one .text-container{
        order: 2;
    }

    .button .card-one .flex.justify-center {
        order: 1;
    }
 
    .text-container p {
        font-size: larger; 
    }
     .mobile-visible {
        display: block;
    }
    .nav-container {
        position: absolute;
        top: 100%;
        width: 100%;
        display: none;
        background-color: rgb(35, 27, 46);
        padding: 10px 0;
    }
    .nav-container.mobile-visible {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-container .nav-item {
        display: none;
        text-align: left;
        padding: 5px 10px;
    }

    .nav-container.mobile-visible .nav-item {
        display: block;
        text-align: left;

    } 
}

/* @media (min-width: 1023px) {
    .custom-object-fit {
      object-fit: contain !important;
      width: 200px;
      margin-right: 24px;
    }
  } */

  @media (min-width: 1024px) and (min-height: 768px) {
   .response1{
    margin-top: 200px;
   }
   .response2{
    margin-top: 100px;
   }
    }

    @media (min-width: 1023px) and (max-width: 1325px) {
        .custom-width {
            width: 200px;
            margin-right: 24px;
          }
    }

@media (min-width: 100px) {
    .monitor-header{
        font-size: xx-large;
    }
    .monitor{
        font-size: large;
       }
    .buttonsNorm{
        font-size: medium;
    }
    .navNormScreen {
        height: 64px;
    }
}

@media (min-width: 1250px) {
    .monitor-header{
        font-size: 3rem;
    }
    .monitor{
        font-size: 1.5rem;
        line-height: 2rem;
       }
    .buttonsNorm{
        font-size: 1rem;
    }
    .custom-width{
        width: 400px;
      } 
    .custom-heightImage-one {
        height: 250px;
      }
}

@media (min-width: 3000px) {
    .monitor-header{
        font-size: 5.5rem;
        margin-bottom: 50px;
    }
    .monitor{
        font-size: 2.5rem;
        line-height: 3.5rem;
       }
    .navHugeScreen {
        height: 100px;
    }
    .buttonsNorm{
        font-size: 2rem;
    }
    .custom-width {
        width: 600px;
        margin-right: 24px;
      }
    .custom-heightImage-one {
        height: 350px;
      }
}

@media (min-width: 5000px) {
    .monitor-header{
        font-size: 7rem;
        margin-bottom: 50px;
    }
    .monitor{
        font-size: 4.5rem;
        line-height: 6rem;
       }
    .navHugeScreen {
        height: 250px;
    }
    .buttonsNorm{
        font-size: 3rem;
    } 
    .custom-width {
        width: 1500px;
        margin-right: 24px;
      }
    .custom-heightImage-one {
        height: 900px;
      }
}

.nav-bar-custom-color {
    background-color: #564848;
}

.homepage-custom-color {
    background-color: #2c2836
}

html {
    scroll-behavior: smooth;
}   

.contact-button-custom-color {
    background-color: rgb(11, 6, 25)
}

.custom-rounded { 
    background-color: #0f0f1b;
}
